@import "vars";
@import "blocks/nav.scss";
@import "blocks/intro.scss";
@import "blocks/facts.scss";
@import "blocks/type.scss";
@import "blocks/video.scss";
@import "blocks/footer.scss";

html {
  font-size: 62.5%;
}

.main {
  position: relative;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  min-width: 320px;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
}

.content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main__image {
  background-image: url(".././img/mainbike1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 82.5rem;
  height: 825px;
  position: absolute;
  top: -7rem;
  width: 100%;
  z-index: -1;
  background-color: $bg-black;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url(".././img/mainbike2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 82.5rem;
    height: 825px;
    position: absolute;
    top: -7rem;
    width: 100%;
    z-index: -1;
    background-color: $bg-black;
    background-position: center center;
  }

  @media (max-width: $tablet-width) {
    background-image: url(".././img/mainbike2x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 34rem;
    height: 340px;
    top: 0;
  }

  @media (max-width: $mobile-width) {
    background-size: 100% 39rem;
    height: 390px;
  }
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/open-sans-v18-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/open-sans-v18-latin_cyrillic-600.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  white-space: nowrap; /* added line */
}
